<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tiny Whip</title>
    <meta name="description" content="A little demo using Pion" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>{{ .Css }}</style>
  </head>
  <body>
    <button id="start" class="button">Start</button>
    <script src="/whip.js"></script>
    <script>{{ .Js }}</script>
  </body>
</html>
